pip                               ==21.3.1
pipenv                            ==2021.5.29
Django                            ==2.2
environ                           ==1.0
ipykernel                         ==6.4.2
ipython                           ==7.28.0
requests                          ==2.26.0
virtualenv                        ==20.8.1

