{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            {% include "includes/alerts.html" %}
            <img src="{% static 'images/banners/cshop.jpg'  %}" height="300" width="1180" >
<!--            class="img-fluid rounded"-->
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">WishList</h3>
        </header><!-- sect-heading -->
        <div class="row">
            {% for product in products %}
                {% if product.is_like %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">

                                {% if product.is_like == True %}

<!--                                            <a  class="alternating-image" type="button" onclick="function" href="{% url 'like' product.id %}">-->
                                            <button class="alternating-image"  >
                                                <img class="liked-button"  src="{% static "images/icons/heartlike_liked.png" %}" width="20" height="20" " style="display: inline;">
                                            </button>
<!--                                            </a>-->
                                        {% else %}
<!--                                            <a  class="alternating-image" type="button" onclick="function" href="{% url 'like' product.id %}">-->
                                            <button class="alternating-image"  >
                                                <img class="liked-button"  src="{% static "images/icons/heartlike_liked.png" %}" width="20" height="20" " >
                                            </button>
<!--                                            </a>-->
                                        {% endif %}
                                <br><br>
<!--                                    nút like (end)-->
                                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                                    <figcaption class="info-wrap">
                                        <a href="{{ product.get_url }}" class="title" style="font-size: 16px;font-family: Arial">{{ product.product_name }}</a>
                                        <div class="price mt-1" style="font-size: 16px;font-family: Arial">${{ product.price }}</div> <!-- price-wrap.// -->
                                    </figcaption>

                                



                        </div>
                    </div> <!-- col.// -->
                {% endif %}
            {% endfor %}
        </div> <!-- row.// -->
    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
{% endblock %}

